DATABASE_URL=postgresql://neondb_owner:npg_hSDZnjT1r3Ow@ep-bitter-violet-a1hkxliq-pooler.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
OPENAI_API_KEY=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
LLAMA_CLOUD_API_KEY=llx-RJOJ1eZrBs259t4fQ8vNLpY37TTBOHuhhLhSXWDy7QaBVV8F

NEO4J_URI=neo4j://127.0.0.1:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=Ganeshpalli@22

